/* _content/BlazorWASM/Pages/CreatePost.razor.rz.scp.css */
.card[b-7vz3ftkb0k] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 250px;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
}

.field[b-7vz3ftkb0k] {
    margin-top: 20px;
}

.acceptbtn[b-7vz3ftkb0k] {
    background-color: lightgreen;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-row[b-7vz3ftkb0k] {
    margin-top: 15px;
}
/* _content/BlazorWASM/Pages/CreateUser.razor.rz.scp.css */
.card[b-rsgshhihlg] {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
}

.field[b-rsgshhihlg] {
    margin-top: 20px;
}

.acceptbtn[b-rsgshhihlg] {
    background-color:lightgreen;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-row[b-rsgshhihlg]{
    margin-top: 15px;
}
/* _content/BlazorWASM/Pages/Login.razor.rz.scp.css */
.card[b-540j7qbdug] {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.field[b-540j7qbdug] {
    margin-top: 20px;
}

.loginbtn[b-540j7qbdug] {
    background-color:lightgreen;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.loginbtn:hover[b-540j7qbdug]{
    transform: scale(1.1);
    box-shadow: 0 2px 10px 2px #3f3f3f;
}
/* _content/BlazorWASM/Pages/ViewUsers.razor.rz.scp.css */
.user-card[b-azwe7dgel3] {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: inline-block;
    margin: 25px;
    padding: 15px;
    border-radius: 10px;
}
/* _content/BlazorWASM/Shared/MainLayout.razor.rz.scp.css */
.page[b-6v8oqhpdl4] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-6v8oqhpdl4] {
    flex: 1;
}

.sidebar[b-6v8oqhpdl4] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-6v8oqhpdl4] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-6v8oqhpdl4]  a, .top-row .btn-link[b-6v8oqhpdl4] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-6v8oqhpdl4] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-6v8oqhpdl4] {
        display: none;
    }

    .top-row.auth[b-6v8oqhpdl4] {
        justify-content: space-between;
    }

    .top-row a[b-6v8oqhpdl4], .top-row .btn-link[b-6v8oqhpdl4] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-6v8oqhpdl4] {
        flex-direction: row;
    }

    .sidebar[b-6v8oqhpdl4] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-6v8oqhpdl4] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-6v8oqhpdl4], article[b-6v8oqhpdl4] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/BlazorWASM/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-v7u2np63r8] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-v7u2np63r8] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-v7u2np63r8] {
    font-size: 1.1rem;
}

.oi[b-v7u2np63r8] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-v7u2np63r8] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-v7u2np63r8] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-v7u2np63r8] {
        padding-bottom: 1rem;
    }

    .nav-item[b-v7u2np63r8]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-v7u2np63r8]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-v7u2np63r8]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-v7u2np63r8] {
        display: none;
    }

    .collapse[b-v7u2np63r8] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-v7u2np63r8] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
