@page "/ViewPosts"
@using Models
@using HttpClients_.ClientInterfaces
@inject IPostService postService
@inject NavigationManager navMgr
@attribute [Authorize]
<h3>Posts</h3>

@if (posts == null)
{
    <span>Loading..</span>
}
else if (!posts.Any())
{
    <p>No posts to display</p>
}
else
{
    @foreach (var item in posts)
    {
        <div class="card mb-4 text-center">
            <a href="/ViewPost/@item.Id">@item.Title</a>
            <div>
                @item.Body
            </div>
            <p style="color: grey">@item.Owner.UserName</p>
        </div>
    }
}
@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}

@code {
    private IEnumerable<Post>? posts;
    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            posts = await postService.GetAsync(null, null, null);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    

}